/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

# Build artifacts
*.hap
*.app
*.har
*.hsp
.output/
/.preview/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
